.main-slider .img-wrapper li {
    height: calc(100vh - 113px);
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-slider .img-wrapper ul {
    margin: 0;
}
